include MANIFEST.in
include .flake8
include .prettierrc.cjs
include .prettierignore
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include taxjar_erpnext *.css
recursive-include taxjar_erpnext *.csv
recursive-include taxjar_erpnext *.html
recursive-include taxjar_erpnext *.ico
recursive-include taxjar_erpnext *.js
recursive-include taxjar_erpnext *.json
recursive-include taxjar_erpnext *.md
recursive-include taxjar_erpnext *.png
recursive-include taxjar_erpnext *.py
recursive-include taxjar_erpnext *.svg
recursive-include taxjar_erpnext *.txt
recursive-exclude taxjar_erpnext *.pyc
